
@font-face {
    font-family: 'Fredoka';
    src: url("./FredokaOne-Regular.ttf") format("ttf");
}
@font-face {
    font-family: 'QuickSand';
    src: url("./Quicksand-VariableFont_wght.ttf") format("ttf");
}


// COLORS //

$lightGreen : #72BB8F;
$lightPink : #E998C0;
$lightYellow : #DEAF0F;
$lightBlue : #5CBDD0;
$lightPurple : #9791C4;
$lightRed : #E76355;

$green : #0B8A36;
$pink : #DD017D;
$yellow : #DE7F0C;
$blue : #0F70B3;
$purple : #662480;
$red : #BA1522;

$darkGreen : #216157;
$darkPink : #851555;
$darkYellow : #994a16;
$darkBlue : #154b71;
$darkPurple : #3d2156;
$darkRed : #7c151e;

