@import './Base.scss';

@media screen and (min-width: 800px) {
  .studio-display{
    display: none;
  }
  .studio-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100%;
    h1{
      font-size: 3.5rem;
      color: $darkBlue;
      height: 10%;
      letter-spacing: 0.1rem;
      font-weight: bold;
      top:-10vh !important;
      opacity:0 !important;
      position: relative;
      transition:  1.2s;
      margin-bottom:0.5rem;
      span{
        font-size: 3rem;
        opacity: 0.95;
        letter-spacing: 0;
      }
    }
    .title-display{
      opacity:1 !important;
      top:3vh !important
    }
  }
  .studio-desktop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height:75vh;
    justify-content: center;
    align-items: center;
    
    .team-card{
      display: flex;
      width:20%;
      background-color:rgba(255, 255, 255, 0.541);
      padding: 1rem;
      flex-direction: column;
      height:40%;
      align-items: center;
      margin:0.5rem;
      border-radius: 8px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      border:7px solid transparent;
      -webkit-transition: 1s;
      opacity:0;
      justify-content: space-between;
      h2{
        font-weight: bold;
      }
        h3{
          border-bottom:2px solid $lightPurple;
          padding:0.5rem
        }
        .team-snowball{
          height:10vh;
          width: auto;
          min-width: 30%;
          background-size: cover;
          display: flex;
          -webkit-transition: 0.5s;


        }
    }
    .team-card:hover{
      border: 7px solid $lightBlue;
      transition: 1s border;
      display:flex;
      flex-direction: column;

      .team-snowball{

        transform: rotate(360deg);
        transition: transform 1s;
      }
      h2{
        font-weight: bold;
      }
    }

   
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }

    .team-name{
      font-size: 1.5rem;
    }
    .team-role{
      font-size: 1.3rem;

    }
    .team-bio{
      text-align: justify;

    }
  }

}

@media screen and (max-width: 800px) {
    #studio{
        height:90vh;
    }
    .studio-desktop{
      display:none;
    }
    .studio-container{

        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
        

        h1{
            font-size: 2.5rem;
            color: $darkBlue;
            font-weight: bold;
            letter-spacing: 0.1rem;;

        }
        .studio-description{
            text-align: justify;
            letter-spacing: 0.02rem;
            background-color: $lightBlue;
            color: white;
            line-height: 1.3rem;;
            border-top:2px solid $darkPurple;
            padding-top:1rem;
            overflow: auto;
            
        }

    }
    .studio-logo{
        background: url("./images/logocorp.png");
        height:25vh;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
    .studio-display{
        display: flex;
        flex-direction: column;
        background-color: $lightBlue;
        width: 70%;
        margin-top:1.5rem;
        padding: 1rem;;
        height: 65vh;
        border-radius: 30px;
        -webkit-box-shadow: 0px 0px 21px -5px #000000; 
        box-shadow: 0px 0px 21px -5px #000000;
    }
    .arrow-iconess{
        position: absolute;
        bottom: -10%;
        display: flex;
        width: 16.7%;


        
        
.left-bar {
    position: absolute;
    background-color: transparent;
    top: 0;
    left:0;
    width: 35px;
    height: 5px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
    &:after {
      content:"";
      background-color: white;
      width: 35px;
      height: 5px;
      display: block;
      float: right;
      border-radius: 6px 10px 10px 6px;
      transition: all $duration $easing;
      z-index: -1;
    }
  }
  
  .right-bar {
    position: absolute;
    background-color: transparent;
    top: 0px;
    left:26px;
    width: 35px;
    height: 5px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
    &:after {
      content:"";
      background-color: white;
      width: 35px;
      height: 5px;
      display: block;
      float: right;
      border-radius: 10px 6px 6px 10px;
      transition: all $duration $easing;
      z-index: -1;
    }
  }
  
    }

}